.site-content {
	display: flex;

	.content-area {
		padding: 0 percentage( 10px / 320px );

		@media (min-width: 600px) {
			width: 60%;
		}
	}

	.widget-area {
		background-color: $color__gray;
		border-top: 4px solid $color__black;
		padding: 10px percentage(10px / 320px);

		@media (min-width: 600px) {
			border-top: none;
			overflow: hidden;
			width: 40%;
		}
	}
}
